
.heading{
    text-align: center;

}

.about{
    text-align: center;
}
.star-label{
    color: orange;
}

.photo{
 display: flex;
 align-items: center;
 justify-content: center;
}
.profile-pic{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    margin: 2rem;
    border: 2px solid orange;
}
.buttonR{
    text-align: center;
    align-items: center;
   
}


  

a{
    text-decoration: none;
}
